<h1>Edit Event</h1>

<%= form_for @event, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  	<div class="field">
		<%= f.label :ten_event %><br />
		<%= f.check_box :ten_event %><br />
	</div>
	
	<div class="field">
		<%= f.label :all_TT_event %><br />
		<%= f.check_box :all_TT_event %><br />
	</div>
  
	<div class="field">
		<%= f.label :eventName %><br />
		<%= f.text_field :eventName %>
	</div>
	
	<div class="field">
		<%= f.label :bandName %><br />
		<%= f.text_field :bandName %>
	</div>
	
	<div class="field">
	<%= f.label :"Venue " %>
	<%= collection_select(:all_event, :venue, @venues, :venueName, 
						:venueName, {:selected => @selected_venue}) %>
	</div>
	
	<div class="field">
		<%= f.label :longitude %><br />
		<%= f.text_field :longitude %>
	</div>
	
	<div class="field">
		<%= f.label :latitude %><br />
		<%= f.text_field :latitude %>
	</div>
	
	<div class="field">
	<%= f.label :"Taste" %><br />
	<%= collection_select(:all_event, :taste, @tastes, :genre, 
							:genre, {:selected => @selected_taste}) %>
	<%= f.label :"Type here to create new flavour" %>
	<%= f.text_field :new_taste %>
	</div>
	
	<div class="field">
		<%= f.label :"Energy Level: A range of 1 - 100 is suggested, but not enforced" %><br />
		<%= f.number_field :energyLevel %>
	</div>
	
	<div class="field">
		<%= f.label :doorsOpen %><br />
		<%= f.time_select :doorsOpen %>
	</div>
	
	<div class="field">
		<%= f.label :price %><br />
		<%= f.text_field :price %>
	</div>
	
	<div class="field">
		<%= f.label :eventDate %><br />
		<%= f.date_select :eventDate %>
	</div>
	
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	
	<div class="field">
		<%= f.label :specialOffers %><br />
		<%= f.text_area :specialOffers %>
	</div>
	
	<div class="field">
		<%= f.label :photo %>
		<%= f.file_field :photo%>
	</div>

	<div class="actions">
		<%= f.submit "Update Event" %>
	</div>

	
<% end %>


