<h1>Edit Suggested Event</h1>

<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  	<div class="field">
		<%= f.label :ten_event %><br />
		<%= f.check_box :ten_event %><br />
	</div>
	
	<div class="field">
		<%= f.label :all_TT_event %><br />
		<%= f.check_box :all_TT_event %><br />
	</div>
  
	<div class="field">
		<%= f.label :city_location %><br />
		<%= f.text_field :city_location %>
	</div>
  
	<div class="field">
		<%= f.label :eventName %><br />
		<%= f.text_field :eventName %>
	</div>
	
	<div class="field">
		<%= f.label :bandName %><br />
		<%= f.text_field :bandName %>
	</div>
	
	<%= collection_select(:suggested_event, :venue, @venues, :venueName, 
							:venueName, {:selected => @selected_venue}) %>
	
	<div class="field">
		<%= f.label :longitude %><br />
		<%= f.text_field :longitude %>
	</div>
	
	<div class="field">
		<%= f.label :latitude %><br />
		<%= f.text_field :latitude %>
	</div>
	
	<div class="field">
		<%= f.label :doorsOpen %><br />
		<%= f.time_select :doorsOpen %>
	</div>
	
	<div class="field">
		<%= f.label :price %><br />
		<%= f.text_field :price %>
	</div>
	
	<div class="field">
		<%= f.label :eventDate %><br />
		<%= f.date_select :eventDate %>
	</div>
	
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	
	<div class="field">
		<%= f.label :specialOffers %><br />
		<%= f.text_area :specialOffers %>
	</div>

	<div class="actions">
		<%= f.submit "Update Event" %>
	</div>

	
<% end %>


