<h1><%= @event.eventName %></h1>
<h2><%= @event.eventDate.to_formatted_s(:short) %></h2>

<li><%= @event.venue %></li>
<li><%= @event.latitude %></li>
<li><%= @event.longitude %></li> 


<li> still more to go in here.... </li>
