<header>
 <% logo = image_tag("TE_OldLogo_White_60pHigh.png", :alt => "Ten Events", :class => "round") %>
  <%= link_to logo, '/' %>
   <nav class="round">
    <ul>
      <li><%= link_to "Summary", root_path %></li>
	  <li><%= link_to "Edinburgh", '/edinburgh' %></li>
	  <li><%= link_to "Glasgow", '/glasgow' %></li>
	  <li><%= link_to "London", '/london' %></li>
	  <li><%= link_to "Suggested Events", suggested_events_path %></li>
	  <li><%= link_to "Venues", venues_path %></li>
	  <li><%= link_to "Event Search", event_searches_path %></li>
	  <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
	  <% end %>
    </ul>
  </nav>
</header>

